@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: #242b35 #0d1117;
  }
  
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: #0d1117;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #242b35;
    border-radius: 3px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #524f67;
  }
  
  *::-webkit-scrollbar-horizontal {
    height: 6px;
  }